tr > :first-child {
    width: 75%;
}
tr > :last-child {
    width: 25%;
}

tr:not(:first-child) > td:last-child {
    vertical-align: middle;
}

td:first-child:hover{
    cursor: pointer;
}

th {
    text-align: center;
    border: 2px solid #F20505 !important;
    margin-bottom: 105px;
}

tr:not(:last-child) > td {
    border-bottom: 2px solid black;
}

tr:last-child > td {
    border-bottom: none;
}

ul {
    list-style-type: none;
}
ul > li:before {
    content: "- ";
}

.card {
    border-color: #0511F2;
    background-color: #F2F2F2;
}

select {
    width: 100%;
    text-align: center;
    height: 40px;
}
